<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{meta_title}}</title>
    {{! Page Meta }}
    <meta name="description" xml:lang="en" content="{{meta_description}}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="robots" content="index,follow" />
    <meta charset="utf-8" />
    {{! Document Settings }}
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="HandheldFriendly" content="True" />
    <link rel="shortcut icon" href="{{asset "images/favicon.ico"}}">
    <link href="https://plus.google.com/115350289144911943375/posts" rel="publisher" />
    
    {{! Styles'n'Scripts }}
    <link rel="stylesheet" type="text/css" href="{{asset "css/bootstrap.min.css"}}" />
    <link rel="stylesheet" type="text/css" href="{{asset "css/style.css"}}" />
	<link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.7/styles/default.min.css">
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.7/highlight.min.js"></script>
    <script type="text/javascript">hljs.initHighlightingOnLoad();</script>
    <script src="https://apis.google.com/js/platform.js" async defer>
      {lang: 'en-GB', parsetags: 'explicit'}
    </script>

    {{! Ghost outputs important style and meta data with this tag }}
    {{ghost_head}}
</head>
<body class="{{body_class}}">
    <div id="main_container" class="container">

        {{navigation}}
    
        {{! Everything else gets inserted here }}
        {{{body}}}
    
        <footer class="row">
    		<div id="copywrite" class="col-xs-10 col-sm-10">&copy; Copyright Simon Baynes 2002 - {{date format="YYYY"}}</div>
    		<div id="rss" class="col-xs-2 col-sm-2"><a href="{{@blog.url}}/rss/" class="btn btn-warning btn-xs">RSS <i class="icon-rss"></i></a></div>
    	</footer>
    
        {{! Ghost outputs important scripts and data with this tag }}
        {{ghost_foot}}
    </div>

    {{! The main JavaScript file for Casper }}
	<script type="text/javascript" src="//use.typekit.net/sga8oqn.js"></script>
	<script type="text/javascript">try { Typekit.load(); } catch (e) { }</script>
	<script type="text/javascript" src="{{asset "js/jquery-1.9.1.min.js"}}"></script>
	<script type="text/javascript" src="{{asset "js/bootstrap.min.js"}}"></script>
    <script type="text/javascript" src="{{asset "js/bigtext.1.2.js"}}"></script>
    <script type="text/javascript" src="{{asset "js/article.js"}}"></script>
    <script type="text/javascript">gapi.plus.go();</script>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.4&appId=1475491626105649";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
	<!--[if lt IE 9]>
		<script type="text/javascript" src="{{asset "js/html5shiv.js"}}"></script>
	<![endif]-->
</body>
</html>
