{{!< default}}

{{! The comment above "< default" means - insert everything in this file into
    the {body} of the default.hbs template, which contains our header/footer. }}

{{! Everything inside the #post tags pulls data from the post }}
{{#post}}

<article id="post">
    <header id="article_header">
		<h1><strong>{{title}}</strong></h1>
	</header>
    <div class="row">
        <div class="col-sm-9">
            {{#if image}}
                <img src="{{image}}" class="img-responsive" />
            {{/if}}
            {{content}}
            {{#author}}
                <small>By {{name}}</small>
            {{/author}}
            <div id="sharing">
                <section>
                    <div class="g-plus" data-action="share" data-annotation="bubble"></div>
                </section>
                <section>
                    <a href="https://twitter.com/share" class="twitter-share-button" data-via="baynezy">Tweet</a>
                </section>
                <section class="facebook">
                    <div class="fb-share-button" data-href="{{url}}" data-layout="button_count"></div>
                </section>
            </div>
            <div id="disqus_thread"></div>
            <script async type="text/javascript" src="{{asset "js/commenting.js"}}"></script>
            <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
        </div>
        
        <aside class="col-sm-3">
            <div id="meta_data">
                <h4>Meta Data</h4>
                <p>Posted on: <time datetime="{{date format='YYYY-MM-DD HH:mm'}}" pubdate>{{date format='DD MMM YYYY HH:mm'}}</time></p>
                Tagged with:
                <ul class="post-tags">
                    {{#foreach tags}}
                        <li><a href="{{url}}" title="{{name}}">{{name}}</a></li>
                    {{/foreach}}
                </ul>
            </div>
        </aside>
    </div>
</article>

{{/post}}